html {
  min-height: 400px;
  width: 500px;
}

.nav, .pagination, .carousel, .panel-title a, .pointer { cursor: pointer; }
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #fafafa;
  border-right: 1px solid #eee;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar-bottom{
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  color: #fd7341;
}

.nav-sidebar > li.go-back {
  height: 40px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: #fd7341;
  color: #fafafa;
}

#bannercall {
  position: fixed;
  display: inline-block;
  left:15.666666667%;
  right:-3px;
  top: -2px;
  z-index: 888;
}

#bannercall .form-control,
#bannercall .btn {
  border-radius: 0
}
#bannercall .form-control,
#bannercall .btn {
  border-color: #666;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,102,102,.6);
  botder-left:none;
  botder-right:none;
}
#bannercall input,
#bannercall .btn {
  border-right: none;
  border-left: none;
}

/*
 * Main content
 */

.main-body {
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
}

a,.btn-link,.text-info{color: #fd7341}
.btn-link:hover{color: #ca400e}
