
<div ng-if="device">
    <h2><i class="fa-fw" ng-class="getClass(device.state)"></i> &nbsp; {{device.extension}}</h2>
    <table class="table table-striped table-condenced">
        <tr>
            <th>Nom</th>
            <td>{{getName(device.callerid)}}</td>
        </tr>
        <tr>
            <th>Etat</th>
            <td>{{getDescription(device.state_desc)}}</td>
        </tr>
        <tr>
            <th>Ip d'enregistrement</th>
            <td>{{device.ipaddr}} <span class="text-muted">({{device.lastms}} ms)</span></td>
        </tr>
        <tr>
            <th>User Agent</th>
            <td>{{device.useragent}}</td>
        </tr>
        <tr>
            <th>Dernière <abbr tooltip-placement="top" uib-tooltip="Mise à jour" title="">maj</abbr> </th>
            <td>{{device.last_update | date:'short' }}</td>
        </tr>
    </table>
</div>