<h3>À propos</h3>
<hr>
Le plugin <a href="https://chrome.google.com/webstore/detail/voxity-click-to-call/dclmglagehopkegbnobbpkdcbdoiijcg" target="_BLANK">Voxity Click-to-call</a> vous est proposé par la société Voxity éditeur de solution de téléphonie. Développé par des contributeurs internes et externes à Voxity.

<h4>Contributeurs</h4>

<ul class="list-unstyled">
    <li><a href="https://github.com/moimael" target="_NEW" class="btn btn-link">@Maël LAVAULT</a></li>
    <li><a href="https://github.com/lchabert" target="_NEW" class="btn btn-link">@Loïc CHABERT</a></li>
    <li><a href="https://github.com/malek0512" target="_NEW" class="btn btn-link">@Malek MAMMAR</a></li>
    <li><a href="https://github.com/thivolle-cazat-cedric" target="_NEW" class="btn btn-link">@Cédric THIVOLLE-CAZAT</a></li>
</ul>

<h4>Dépendances</h4>

Le plugin dépend de plusieurs outils libre, <a href="https://github.com/angular/angular.js" target="_NEW">AngularJs</a>, et c'est extensions Angular Route, Angular Sanitize, Angular Animate, Angular i18n, <a href="https://github.com/angular-ui/bootstrap" target="_NEW">Angular Ui Bootstrap</a>. Ainsi que de  <a href="https://github.com/twbs/bootstrap" target="_NEW">Bootstrap3</a> et  <a href="https://github.com/FortAwesome/Font-Awesome/" target="_NEW">Font Awesome</a>.