<p ng-if="loading" class="text-center text-muted"><i class="fa fa-circle-o-notch fa-spin fa-2x text-primary"></i></p>
<div class="row" ng-if="contacts.length > 0">
    <div class="col-xs-3">
        <button class="btn btn-default" tooltip-placement="right" uib-tooltip="Ajouter"><i class="fa fa-edit text-info"></i></button>
    </div>
    <div class="col-xs-9">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Recherche" ng-model="search.all">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </div>
     <div class="col-xs-12 text-right">
        <small class="text-muted" ng-if="search.all">{{(contacts | filter:search.all).length}} / </small>
        <small class="text-muted">{{contacts.length}}</small>
    </div>
</div>
<br>
<div class="list-group">
  <div class="list-group-item" ng-repeat="c in contacts | filter:search.all">
    <h5 class="list-group-item-heading">
        {{c.cn}}
        <button class="btn-link pull-right disabled" disabled><i class="fa fa-edit"></i></button>
    </h5>
    <div class="list-group-item-text row">
        <div class="col-xs-6 text-info pointer" ng-if="c.telephoneNumber" ng-click="call(c.telephoneNumber)">
            <i class="glyphicon glyphicon-phone-alt text-muted" style="margin-right:10px;"></i> {{c.telephoneNumber}}
        </div>
        <div class="col-xs-6 text-info pointer" ng-if="c.mobile" ng-click="call(c.mobile)">
            <i class="fa fa-mobile text-muted" style="margin-right:10px;"></i> 
            {{c.mobile}}
        </div>
        <div class="col-xs-12 text-center small text-muted">{{c.mail}}</div>
    </div>
  </div>
</div>