<p ng-if="loading" class="text-center text-muted"><i class="fa fa-circle-o-notch fa-spin fa-2x text-info"></i></p>
<div class="row">
    <div class="col-xs-3" ng-if="contacts.length > 0">
        <a href="#/contacts/add" class="btn btn-default" tooltip-placement="right" uib-tooltip="Ajouter"><i class="fa fa-edit text-info"></i></a>
    </div>
    <div class="col-xs-9" ng-if="contacts.length > 0">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Recherche" ng-model="search.all">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </div>
     <div class="col-xs-12 text-right" ng-if="contacts.length > 0">
        <small class="text-muted" ng-if="search.all">{{(contacts | filter:search.all).length}} / </small>
        <small class="text-muted">{{contacts.length}} contacts</small>
    </div>
</div>
<div class="list-group">
  <div class="list-group-item" ng-repeat="c in contacts | filter:search.all">
    <h5 class="list-group-item-heading">
        {{c.cn}}
        <a href="#/contact/{{c.uid}}/edit" class="btn-link pull-right"><i class="fa fa-edit"></i></a>
    </h5>
    <div class="list-group-item-text row">
        <div class="col-xs-6 text-info pointer" ng-if="c.telephoneNumber" ng-click="call(c.telephoneNumber)">
            <i class="glyphicon glyphicon-phone-alt text-muted" style="margin-right:10px;"></i> {{c.telephoneNumber | phoneNumber}}
        </div>
        <div class="col-xs-6 text-info pointer" ng-if="c.mobile" ng-click="call(c.mobile)">
            <i class="glyphicon glyphicon-phone text-muted" style="margin-right:10px;"></i> 
            {{c.mobile | phoneNumber}}
        </div>
        <div class="col-xs-12 text-center small text-muted">
            {{c.mail}}
            <a href="#/contact/{{c.uid}}" class="btn btn-link btn-xs pull-right"><i class="fa fa-chevron-right"></i></a>
        </div>
    </div>
  </div>
</div>