<p ng-if="loading" class="text-center text-muted"><i class="fa fa-circle-o-notch fa-spin fa-2x text-info"></i></p>
<div class="row">
    <div class="col-xs-3">
        <a href="#/sms-send" class="btn btn-default" tooltip-placement="right" uib-tooltip="Nouveau SMS"><i class="fa fa-edit text-info"></i></a>
    </div>
    <div class="col-xs-9" ng-if="sms.length > 0 && !loading">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Recherche" ng-model="search.all">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </div>
</div>

<hr>

<div class="list-group">
    <div class="list-group-item" ng-repeat="(num, sms) in sms | filter:search.all | groupBy:'phone_number'">
        <div class="row">
            <div class="col-xs-10">
                <h5 class="list-group-item-heading" style="margin-bottom: 0;">{{c = findNumber(num); ""}}
                    <span ng-if="c.length === 0"  style="padding: 0" class="btn btn-link" ng-click="switchToRecipient(num)">{{num | phoneNumber}}</span>
                    <span class="btn btn-link" style="padding: 0" ng-if="c.length === 1" uib-tooltip="{{num | phoneNumber}}" ng-click="switchToRecipient(num)">{{c[0].cn}}</span>
                    <span ng-if="c.length > 1">
                        <span style="padding: 0" class="btn btn-link" ng-click="switchToRecipient(num)">{{c[0].cn}}</span>
                        <span class="text-muted" uib-dropdown>
                            <small class="text-muted pointer" uib-dropdown-toggle>
                                <i class="fa fa-user"></i><sup><small>{{c.length -1}}</small></sup>
                            </small>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-repeat="cc in c">
                                  <a>{{cc.cn}}</a>
                                </li>
                            </ul>
                        </span>
                    </span>
                </h5>
            </div>
            <div class="col-xs-2 text-ritgh">
                <span style="padding: 0" class="btn btn-link">
                    <i class="fa fa-angle-right"></i>
                </span> 
            </div>
        </div>
    </div>
</div>